*.pyc
__pycache__
.vscode
api/*.njsproj
api/*.ntvs*
api/*.sln
api/*.suo
api/.idea
api/.vscode
api/venv
venv
web/*.njsproj
web/*.ntvs*
web/*.sln
web/*.suo
web/.DS_Store
web/.idea
web/.quasar
web/.thumbs.db
web/.vscode
web/dist
web/node_modules
web/npm-debug.log*
web/src-cordova/node_modules
web/src-cordova/platforms
web/src-cordova/plugins
web/src-cordova/www
web/yarn-debug.log*
web/yarn-error.log*
